.ticker-track .cl-adco { height: 30px; }
.ticker-track .cl-beard { height: 17px; }
.ticker-track .cl-brisbane-pump-action { height: 42px; }
.ticker-track .cl-complete-refrigeration { height: 28px; }
.ticker-track .cl-ezyair { height: 31px; }
.ticker-track .cl-fencepac { height: 20px; }
.ticker-track .cl-handl { height: 42px; }
.ticker-track .cl-hive { height: 27px; }
.ticker-track .cl-lap-collective { height: 29px; }
.ticker-track .cl-ngu { height: 29px; }
.ticker-track .cl-northwear { height: 35px; }
.ticker-track .cl-one-life-club { height: 32px; }
.ticker-track .cl-pavscorp { height: 36px; }
.ticker-track .cl-phlat { height: 36px; }
.ticker-track .cl-projx { height: 31px; }
.ticker-track .cl-striking-pools { height: 31px; }
.ticker-track .cl-territory-water { height: 23px; }
.ticker-track .cl-vitale { height: 27px; }
.ticker-track .cl-willship { height: 28px; }
